#about{
    /* border: 2px solid yellow; */
    width: 95svw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
}

.about-profile, .about-strenghts{
    margin-top: 5svw;
}

.about-profile, .about-strenghts, .about-hardSkills, .about-interests{
    border-radius: 0.8em;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 2em 1.2em 2em;
    width: 46%;
    min-width: 650px;
    height: 16em;
}

.ab-pro-title h1, .ab-str-title h1, .ab-hard-title h1, .ab-int-title H1{
    font-size: 1.2em;
    text-align: center;
}

.ab-pro-name-container, .ab-pro-loco-container, .ab-pro-profession-container{
    display: flex;
    align-items: center;
}

.ab-pro-name-icon, .ab-pro-loco-icon, .ab-pro-profession-icon{
    font-size: 2.5em;
}

.ab-pro-name-text h2, .ab-pro-loco-text h2, .ab-pro-profession-text h2{
    font-size: 2.4em;
    padding-left: 0.8em;
}

.about-hardSkills, .about-interests{
    margin-top: 2em;
}

.ab-str-container,
.ab-hard-container,
.ab-int-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ab-str-troubleshoot-container, .ab-str-curiosity-container, .ab-str-creativity-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
}

.ab-hard-html-container, .ab-hard-css-container,
.ab-int-blockchain-container, .ab-int-economics-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.ab-str-troubleshoot-icon, .ab-str-curiosity-icon, .ab-str-creativity-icon,
.ab-hard-html-icon, .ab-hard-css-icon,
.ab-int-blockchain-icon, .ab-int-econ-icon{
    font-size: 5.8em;
}

.ab-str-troubleshoot-text h2, .ab-str-curiosity-text h2, .ab-str-creativity-text h2,
.ab-hard-html-text h2, .ab-hard-css-text h2,
.ab-int-blockchain-text h2, .ab-int-econ-text h2{
    font-size: 2em;
}

@media screen and (max-width: 1024px){    

    .about-profile{
        margin-top: 7svh;
        width: 100%;
        min-width: 0px;
    }

    .about-strenghts, .about-hardSkills, .about-interests{
        margin-top: 3svh;
        width: 100%;
        min-width: 0px;
    }

}

@media screen and (max-width: 550px){

    #about{
        /* border: 2px solid greenyellow; */
        width: 100%;
    }

    .about-profile{
        margin-top: 7svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-width: 0px;
        padding: 0 0 0 3.5svw;
    }

    .about-strenghts, .about-hardSkills, .about-interests{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-width: 0px;
        padding: 0 0 4svw 3.5svw;
    }

    .about-profile, .about-strenghts, .about-hardSkills, .about-interests{
        border-radius: 0.8em;
        border: none;
        border-bottom: 2px solid white;
        padding-bottom: 6svw;
        margin-top: 5svh;
        height: 100%;
    }

    .ab-pro-title h1, .ab-str-title h1, .ab-hard-title h1, .ab-int-title h1{
        font-size: 4svw;
        margin-bottom: 2.5svw;
    }


    .ab-pro-name-icon, .ab-pro-loco-icon, .ab-pro-profession-icon{
        display: none;
    }

    .ab-pro-name-text h2, .ab-pro-loco-text h2, .ab-pro-profession-text h2{
        font-size: 4.8svw;
        padding-left: 0.5em;
        padding: 1.5svw;
        width: 100%;
    }

    .ab-pro-name-text h2::before{
        content: "🙋‍♂️ ";
    }
    
    .ab-pro-loco-text h2::before{
        content: "📍 Based in ";
    }

    .ab-pro-profession-text h2::before{
        content: "💻 ";
    }

    .ab-pro-profession-container{
        margin-bottom: -2.5svw;
    }

    .ab-str-troubleshoot-icon, .ab-str-curiosity-icon, .ab-str-creativity-icon,
    .ab-hard-html-icon, .ab-hard-css-icon,
    .ab-int-blockchain-icon, .ab-int-econ-icon{
        font-size: 16svw;
    }

    .ab-str-troubleshoot-text h2, .ab-str-curiosity-text h2, .ab-str-creativity-text h2,
    .ab-hard-html-text h2, .ab-hard-css-text h2,
    .ab-int-blockchain-text h2, .ab-int-econ-text h2{
        font-size: 4.4svw;
    }

}