#about{
    /* border: 1px solid yellow; */
    width: 70em;
    margin-top: 2em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    position: relative;
    height: 100svh;
}

.about-profile{
    border-right: 2px solid white;
    border-radius: 0.8em;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 2em 1.2em 2em;
    width: 55%;
}

.about-chars{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-left: 2.5em;
}

.about-strenghts, .about-hardSkills{
    right: 0;
    border-radius: 0.8em;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.ab-str-title h1, .ab-hard-title h1{
    font-size: 1.2em;
    text-align: left;
}

.ab-pro-bio-text p{
    font-size: 1.2em;
    font-weight: 200;
    padding-top: 0.5em;
}

.ab-pro-name-container, .ab-pro-loco-container, .ab-pro-profession-container{
    display: flex;
    align-items: center;
}

.ab-pro-name-icon, .ab-pro-loco-icon, .ab-pro-profession-icon{
    font-size: 2em;
}

.ab-pro-name-text h2, .ab-pro-loco-text h2, .ab-pro-profession-text h2{
    font-size: 1.6em;
    padding-left: 0.8em;
    background-image: linear-gradient(90deg, rgba(226,121,96,1) 0%, rgba(250,249,246,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: text-gradient 3s infinite alternate-reverse;
}

.ab-str-container,
.ab-hard-container{
    display: flex;
    gap: 1.5em;
}

.ab-str-troubleshoot-container, .ab-str-curiosity-container, .ab-str-creativity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ab-hard-html-container, .ab-hard-css-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-str-troubleshoot-icon, .ab-str-curiosity-icon, .ab-str-creativity-icon,
.ab-hard-html-icon, .ab-hard-css-icon{
    font-size: 5.8em;
    text-align: center;
}

.ab-str-troubleshoot-text h2, .ab-str-curiosity-text h2, .ab-str-creativity-text h2,
.ab-hard-html-text h2, .ab-hard-css-text h2{
    font-size: 1.5em;
    background-image: linear-gradient(90deg, rgba(226,121,96,1) 0%, rgba(250,249,246,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: text-gradient 3s infinite alternate-reverse;
}

.ab-pro-title{
    display: none;
}

@media screen and (max-width: 1024px){

    #about{
        margin-top: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
        height: none;
        gap: 2em;
        width: 90%;
    }

    .about-profile{
        border-right: 2px solid white;
        border-radius: 0.8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 0;
        padding-bottom: 1.2em;
        width: 100%;
        margin-top: 21.5svw;
    }

    .ab-pro-name-text h2, .ab-pro-loco-text h2, .ab-pro-profession-text h2{
        color: white;
        font-size: 5.5svw;
        padding-top: 4svw;
    }

    .about-strenghts, .about-hardSkills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.2em;
    }

    .about-profile, .about-strenghts, .about-hardSkills{
        width: 100%;
        border-radius: 0.8em;
        border: none;
        border-bottom: 2px solid white;
    }

    .ab-pro-title h1, .ab-str-title h1, .ab-hard-title h1{
        font-size: 5.5svw;
        text-align: center;
    }

    .ab-pro-name-icon, .ab-pro-loco-icon, .ab-pro-profession-icon{
        display: none;
    }

    .ab-pro-name-text, .ab-pro-loco-text, .ab-pro-profession-text{
        width: 100%;
    }

    .about-chars{
        width: 100%;
        padding-left: 0;
    }

    .ab-pro-title{
        display: block;
    }

    .ab-pro-name-text h2::before{
        content: "🙋‍♂️ ";
    }
    
    .ab-pro-loco-text h2::before{
        content: "📍 Based in ";
    }

    .ab-pro-profession-text h2::before{
        content: "💻 ";
    }

    .ab-str-troubleshoot-icon, .ab-str-curiosity-icon, .ab-str-creativity-icon,
    .ab-hard-html-icon, .ab-hard-css-icon{
        font-size: 16svw;
    }

    .ab-str-troubleshoot-text h2, .ab-str-curiosity-text h2, .ab-str-creativity-text h2,
    .ab-hard-html-text h2, .ab-hard-css-text h2{
        font-size: 4.4svw;
        color: white;
    }

    .ab-pro-bio-container{
        display: none;
    }

    .about-chars{
        width: 100%;
    }

}